<div [ngClass]="{ centerLoader: showProgress }">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="showProgress"
  ></mat-progress-bar>
  <div class="containerCards" *ngIf="!showProgress">
    <mat-list *ngFor="let hero of arrayHeroes">
      <mat-list-item>
        <div class="containerInfo">
          <img
            class="imgHeroes"
            [src]="generateUrlImageService.mountUrlImg(hero.thumbnail)"
            onerror="this.onerror = null; this.src = 'assets/img/shield.jpg'"
            alt="Heroes"
          />
          {{ hero.name }}
        </div>
        <span class="spacer"></span>
        <div class="containerButtoms">
          <button
            mat-stroked-button
            aria-label="Example icon-button with a heart icon"
            (click)="getDetails(hero)"
          >
            Show More
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
