<div class="containerTitle">
  <h1 class="desktop" mat-dialog-title>Hero Details</h1>
  <h1 class="mobile" mat-dialog-title>{{ hero.name }}</h1>
</div>
<div mat-dialog-content>
  <div class="heroInfo">
    <div class="img">
      <img
        class="imgHero"
        [src]="generateUrlImageService.mountUrlImg(hero.thumbnail)"
        onerror="this.onerror = null; this.src = 'assets/img/shield.jpg'"
        alt="Heroes"
      />
    </div>
    <div class="info">
      <h3>{{ hero.name }}</h3>
      <p>
        {{ hero.description === '' ? defaultDescription : hero.description }}
      </p>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="statistic">
    <canvas id="chart"></canvas>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
