@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;

  .mat-dialog-actions {
    float: right;
  }

  body {
    .spacer {
      flex: 1 1 auto;
    }

    #layoutTemplate {
      display: grid;
      grid-template-rows: auto;
      grid-template-areas: 'header' 'main' 'footer';
      justify-items: stretch;
      align-items: stretch;
      align-content: stretch;

      .header {
        grid-area: header;
      }

      .content {
        grid-area: main;
        min-height: calc(100vh - 155px);
        padding: 10px 15px;

        .centerLoader {
          display: grid;
          align-content: center;
          height: calc(100vh - 160px);
        }

        @media (max-width: 599px) {
          min-height: calc(100vh - 147px);
        }
      }

      .footer {
        grid-area: footer;
        background-color: #eee;
      }
    }
  }
}
